@import "../../variable.scss";

.tag {
  &--completed {
    color: $success;
    text-decoration: line-through;
  }

  &__empty-screen {
    display: flex;
    font-size: 20px;
    justify-content: center;
    outline: none;
  }
  &__completed-on {
    align-items: center;
    background: $bg-alternative;
    border-radius: 5px;
    color: $bg-alternative-font;
    display: inline-flex;
    font-weight: 500;
    font-size: 15px;
    height: 24px;
    justify-content: space-around;
    min-width: 147px;
    padding: 3px 6px;
    text-align: center;
  }
  &__name {
    font-size: 24px;
  }
}
