.logo {
  align-items: center;
  display: flex;

  &__splash-logo {
    align-items: center;
    display: flex;
    padding: 0px 7.5% 0px 6.5%;
  }
  &__icon-logo {
    padding-right: 6px;
  }
  &__splash__icon-logo {
    height: 154px;
    max-width: 154px;
    padding-right: 6px;
  }
  &__img-logo {
    padding-right: 8px;
  }
  &__empty-screen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 243px;
  }
  &__empty-screen-over {
    padding: 0px 7.5% 0px 6.5%;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &__spinning {
    animation: spin 2s infinite;
  }
  &__rotate-div {
    display: flex;
    height: 47.36px;
    left: 40%;
    position: absolute;
    top: 35%;
    text-align: middle;
    width: 50px;
    z-index: 9999;
  }
  &__rotate-full {
    left: 47%;
    position: fixed;
    top: 50%;
    z-index: 9999;
  }
  @include viewport-is(desktop-tab) {
    &__rotate-full {
      left: 44%;
    }
  }
  @include viewport-is(tab-mobile) {
    &__rotate-full {
      left: 37%;
    }
  }
}
