.logo {
  align-items: center;
  display: flex;
}
.splashLogo {
  align-items: center;
  display: flex;
  padding: 0px 7.5% 0px 6.5%;
}
.IconLogo {
  padding-right: 6px;
}
.splashIconLogo {
  height: 154px;
  max-width: 154px;
  padding-right: 6px;
}
.imgLogo {
  padding-right: 8px;
}
.emptyScreen {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 243px;
}
.emptyScreenOver {
  padding: 0px 7.5% 0px 6.5%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinning {
  animation: spin 2s infinite;
}
.rotateDiv {
  display: flex;
  height: 47.36px;
  left: 40%;
  position: absolute;
  top: 35%;
  text-align: middle;
  width: 50px;
  z-index: 9999;
}
.rotateFull {
  left: 47%;
  position: fixed;
  top: 50%;
  z-index: 9999;
}
@media screen and (max-width: 1086px) {
  .rotateFull {
    left: 44%;
  }
}
@media screen and (max-width: 620px) {
  .rotateFull {
    left: 37%;
  }
}
