.head {
  &__overHead {
    border: 1px solid #dde2ff;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
  }
  &__Header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
    padding: 0px 7.5% 0px 6.5%;
  }
  &__headerClass {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 1682px;
    padding: 0px 7.5% 0px 6.5%;
  }
  &__searchInputButton {
    align-items: center;
    display: flex;
  }
}
