.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
.splash {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 712px;
  justify-content: center;
}
.bodyClass {
  position: relative;
  top: 6rem;
}
