body {
  margin: 0;

  background-color: #f8f9ff;
}

.blur {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.addTask {
  padding: 0px 7.5% 0px 6.5%;
}

* {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.faddingOut {
  animation: fadeout 1.5s infinite alternate;
}

#showName {
  font-size: 24px;
}

@media screen and (max-width: 725px) {
  .toast {
    max-width: 300px;
  }
  .overToaster {
    position: absolute;
    left: calc(50% - 322px / 2);
  }
}

@media screen and (max-width: 411px) {
  .toast {
    max-width: 200px;
  }
  .overToaster {
    position: absolute;
    left: calc(50% - 229px / 2);
  }
}
