body {
  margin: 0;

  background-color: #f8f9ff;
}
::-webkit-scrollbar {
  width: 0px;
}

.blur {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.addTask {
  padding: 0px 7.5% 0px 6.5%;
}

* {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #32394b;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.faddingOut {
  animation: fadeout 1.5s infinite alternate;
}

#showName {
  font-size: 24px;
}
.container {
  height: 10px;
  background-color: #f8f9ff;
  position: relative;
  top: 20px;
}
.progress-bar {
  position: absolute;
  height: 100%;
  width: 99%;
  background-color: #7a8dfd;
  animation: progress-animation 2s linear forwards;
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  99% {
    width: 99%;
  }
}
