$success: #0bc375;
$bg: #ffffff;
$bg-alternative: #7a8dfd;
$bg-alternative-font: #ffffff;
$border: #dde2ff;
$bg-load-more: #32394b;
$box-shadow: rgba(0, 0, 0, 0.2);
$error: #e85f5f;
$created-font: #bbbdd0;
$font: #32394b;
